@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {}

  @font-face {
    font-family: "Circular-400";
    src: local("Circular-400"),
      url("../assets/fonts/circular-400.woff2") format("woff2") tech(color-COLRv1);
  }
  @font-face {
    font-family: "Circular-700";
    src: local("Circular-700"),
      url("../assets/fonts/circular-700.woff2") format("woff2") tech(color-COLRv1);
  }

  html {
    @apply w-full;
  }

  body {
    @apply font-book text-sm text-gray-700;
  }

  .info {
    @apply invisible opacity-0 transition-fade duration-300 delay-fade;
  }

  .info.is-active {
    @apply visible opacity-100 delay-0;
  }

  .info .anim-outline .path {
    stroke-dasharray: 3;
    stroke-dashoffset: 0;
    @apply animate-outline;
  }
}

html.modal-open {
  overflow: hidden;
}