---
title: About Us
layout: layouts/base.njk
---
<section class="relative flex justify-center bg-white p-6 lg:py-0 xl:px-20">
{% include "partials/hero.njk" %}
</section>
<section class="relative flex justify-center bg-blue-50 p-6 lg:py-32 xl:px-20">
{% include "partials/logos.njk" %}
</section>
<section class="relative flex justify-center bg-white p-6 lg:py-32 xl:px-20">
{% include "partials/mission.njk" %}
</section>
<section class="relative flex justify-center bg-blue-50 p-6 lg:py-32 xl:px-20">
{% include "partials/story.njk" %}
</section>
<section class="relative flex justify-center bg-white p-6 lg:py-32 xl:px-20">
{% include "partials/values.njk" %}
</section>