---
title: About Us
layout: layouts/base.njk
---
<section class="relative flex justify-center bg-white p-8 lg:py-0 xl:px-20">
  <div class="grid space-y-8 lg:grid-cols-2 lg:items-center lg:max-w-site lg:space-y-0">
    <img src="{{svgSrc}}/dancing-people.svg" alt="Party dancing people" class="w-full md:w-10/12 md:justify-self-center lg:absolute lg:bottom-0 lg:right-0 lg:w-7/12 xl:relative xl:w-full xl:self-end xl:order-2 xl:pt-8">
    <div class="relative space-y-6 lg:order-1 lg:py-16">
      <h1 class="font-heavy text-headline leading-9 md:text-display md:leading-none">We love bringing people <span class="text-blue-500">together</span> for a slammin' good time.</h1>
      <div class="text-base text-gray-500 space-y-3 md:text-lg lg:rounded xl:bg-transparent">
        <p>Musicians, magicians, and mermaids...oh my! Our mission is to get you celebrating with top-performing talent booked from GigSalad. Find exactly who you need, when you need them, and make your special event the spark in everyone’s memory.</p>
        <p>Let's <span class="font-heavy">book something awesome</span> &reg;</p>
      </div>
    </div>
  </div>
</section>