<div class="grid space-y-8 lg:grid-cols-2 lg:items-center lg:max-w-site lg:space-y-0">
  <img src="{{svgSrc}}/dancing-people.svg" alt="Party dancing people" class="w-full md:w-10/12 md:justify-self-center lg:absolute lg:bottom-0 lg:right-0 lg:w-7/12 xl:relative xl:w-full xl:self-end xl:order-2 xl:pt-8">
  <div class="relative space-y-6 lg:order-1 lg:py-16">
    <h1 class="font-heavy text-headline leading-9 md:text-display md:leading-none">We love bringing people <span class="text-blue-500">together</span> for a slammin' good time.</h1>
    <div class="text-lg text-gray-500 space-y-3 lg:rounded xl:bg-transparent">
      <p>Musicians, magicians, and mermaids...oh my! Our mission is to get you celebrating with top-performing talent booked from GigSalad. Find exactly who you need, when you need them, and make your special event the spark in everyone’s memory.</p>
      <p>Let's <span class="font-heavy">book something awesome</span> &reg;</p>
    </div>
    <ul class="grid grid-cols-2 gap-6 md:grid-cols-4 md:pt-6">
      {% for kpi in static.kpis %}
        <li class="flex flex-col items-center rounded border p-4 space-y-3 lg:border-none lg:p-0">
          <p class="font-heavy text-headline text-blue-500">{{kpi.value}}</p>
          <p>{{kpi.description}}</p>
        </li>
      {% endfor %}  
    </ul>
  </div>
</div>