<section class="relative flex justify-center bg-white p-8 lg:py-32 xl:px-20">
  <div class="space-y-6 lg:max-w-site lg:grid lg:grid-cols-2 lg:space-y-0">
    <div class="space-y-3 lg:bg-blue-700 lg:text-gray-50 lg:p-12 lg:rounded">
      <h2 class="font-heavy text-headline text-center leading-9">Our mission</h2>
      <p class="text-lg lg:text-base">The traditional paths of success and happiness we were once walked are now shifting. As we adapt to the new challenges of our world, we also think about how we can live happier, more fulfilling lives in the face of formidable times. One way is to find purpose through connection, building relationships with others to bring us the greatest joy.</p>
      <p class="text-lg lg:text-base">GigSalad's goal is to make human connection meaningful and more fun. We commit to being the bridge in your next event planning relationship, hoping that every event you book will be more memorable than the last.</p>
    </div>
    <div class="md:flex md:gap-16 md:items-center">
      <div class="hidden md:block md:w-5/12 md:self-stretch md:pl-12 lg:relative">
        <img src="{{svgSrc}}/holding-people.svg" alt="people holding people in celebration" class="md:w-full lg:absolute lg:max-w-none lg:w-[175%] lg:left-1/2 lg:top-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2">
      </div>
      <div class="space-y-8 md:w-7/12 lg:w-full">
        <div class="border-t-8 border-blue-500 rounded shadow-md p-6 space-y-3 md:border-none md:shadow-none md:p-0">
          <h3 class="font-heavy text-lg">Our commitment to event planners</h3>
          <p class="text-lg lg:text-sm lg:leading-6">Whether it's an intimate gathering of close friends, a wedding for 300, or a high-stakes corporate party, our goal is to bring excitement, joy, and professionalism to every event you book, every single time.</p>
        </div>
        <div class="border-t-8 border-pink-500 rounded shadow-md p-6 space-y-3 md:border-none md:shadow-none md:p-0">
          <h3 class="font-heavy text-lg">Our commitment to performers, entertainers, and artists</h3>
          <p class="text-lg lg:text-sm lg:leading-6">Whether you're just starting out or a seasoned, gigging veteran, our goal is to provide you with the most interesting, highest-quality leads possible, and secure connections that will last a professional lifetime. </p>
        </div>
      </div>
    </div>
  </div>
</section>