<div class="grid space-y-8 lg:max-w-site lg:space-y-12">
  <div class="space-y-6 lg:w-3/4 lg:justify-self-center">
    <h2 class="font-heavy text-headline text-center leading-9">Our values</h2>
    <p class="text-lg">Our values are the foundation of our culture here at GigSalad. They guide everything we do for our clients and employees, informing our decisions, planning, and actions. We recognize that a strong company culture is essential to the success of our business.</p>
  </div>
  <div class="grid grid-col-1 gap-8 md:grid-cols-2 lg:grid-cols-3 lg:gap-12">
    {% for value in static.values %}
      {% set iconName = value.icon %}
      {% set iconColor = value.color %}
      <div class="space-y-2">
        <div class="flex gap-3 items-center">
          {% svg iconName, "w-5 h-5 " + iconColor %}
          <h3 class="font-heavy text-lg">{{value.title}}</h3>
        </div>
        <p class="text-base text-gray-500">{{value.description}}</p>
      </div>
    {% endfor %}
  </div>
</div>